body {
	background-color: #453434;
	margin-left: 0px;
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.navbar-core {
	box-shadow: 0 0 12px #202020;
}

.header-rpg {
	width: 100%;
	cursor: pointer;
}

.header-rpg-home {
	height: 100px;
}

.header-rpg-user {
	height: 120px;
	position: absolute;
}

.rp-container {
	margin-bottom: 14px;
	background-color: #202020;
	border: 1px solid #000000;
	box-shadow: 0 0 12px #202020;
	border-radius: 10px;
	color: #FFFFFF;
}

.rp-container>.floating.label {
	padding: .3em .8em;
	vertical-align: baseline;
}

.ui .first-container {
	padding: 0px !important;
}

.ui .columns-container {
	padding: 10px;
}

.ui.menu .item:before {
	width: 0;
}

.ui.inverted.menu.nav-menu {
	padding: 0px;
	border-radius: 10px;
	background-color: black;
	box-shadow: 0 0 15px black;	
}

.ui.menu .item.nav {
	background-color: black;
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
}

.ui.menu .item.active.nav,
.ui.inverted.pointing.menu .active.item.nav:after {
	background-color: #FF7D49;
}

.ui.inverted.pointing.menu .item.nav.active:hover:after {
	background-color: #FFFFFF;
}

.ui.inverted.menu .item.nav:hover {
	background-color: #FFFFFF;
	color: #FF7D49 !important;
}

.avatar-preview {
	width: 100px;
	height: 100px;
	border: 1px solid #000000;
	box-shadow: 0 0 12px #202020;
	top: 60px;
	margin: auto;
	position: absolute;
}

.profile-container {
	padding: 5px;
	padding-top: 65px;
	margin: auto;
	width: 300px;
	background-color: #FF7D49;
	border-radius: 15px;
	text-align: center;
	margin-bottom: 30px;
}

.label.profile,
.progress.profile {
	width: 100%;
	margin: 0;
	margin-top: 4px;
}

.progress.profile {
	text-align: left;
	border: 1px;
}

.profile-labels {
	padding-left: 10px;
	padding-right: 10px;	
}

.profile-header {
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.rp-item {
	position: relative;
	border: 1px solid black;
	padding: 10px;
	text-align: left;
	margin-bottom: 10px;
	border-radius: 10px;
	background-color: #473B3B;
	-webkit-transition: .2s color ease,.2s padding-left ease,.2s background-color ease;
	-moz-transition: .2s color ease,.2s padding-left ease,.2s background-color ease;
	transition: .2s color ease,.2s padding-left ease,.2s background-color ease;
}

.rp-item:hover {
	background-color: black;
}

.rp-item.homepage {
	margin: 7px;
}

.progress.profile-item {
	height: 20px;
	margin: 0;
	margin-top: 5px;
	border: 1px;
}

.ui.progress {
	padding: 0;
}

.floating.label.rp-floating-item {
	left: 70% !important;
	width: 150px;
	text-align: center;
}

.ui.selection.list .item {
	color: #ffffff;
}

.ui.selection.list .item:hover {
	color: #ff7d49;
}

.btn {
	cursor: pointer !important;
}

.ui.label.reset {
	float: right;
	position: relative;
	display: none;
	top: 9px;
}

.ui.label.show-menu {
	float: left;
	position: fixed;
	top: 30px;
	margin: 0 !important;
	cursor: pointer;
	z-index: 10;
}

.ui.label.show-menu:hover {
	background-color: white !important;
	color: black !important;
}

.ui.header .icon.inline {
	display: inline-block;
}

.ui.header.menu-header .icon {
	float: right;
	color: white;
	background-color: black;
}

.ui.header.menu-header .icon:hover{
	color: white;
	background-color: red;
	cursor: pointer;
}

.ranking-list>.item {
	text-decoration: none;
}

.ui.grid.hide {
	display: none;
}

@media only screen and (max-width: 600px) {
	.profile-container {
		width: 200px;
	}
}

.text-center {
	text-align: center !important;
}
