@{ set . "title" "Oops !" }@
@{ template "header.html" .}@

@{ if eq .RunMode "dev" }@
@{ template "errors/500-dev.html" . }@
@{ else }@
	<div class="header-rpg header-rpg-home"></div>
	<div class="ui column page grid">
		<div class="two wide column"></div>
		<div class="twelve wide column rp-container first-container">
			<div class="ui one column columns-container text-center">
			<i class="error-icon icon remove circle"></i>
			@{ with .Error }@
			<h1>Oops, an error occured</h1>
			<p>
				This exception has been logged.
			</p>
			@{ end }@
			</div>
		</div>
	</div>
@{ end }@
	</body>
</html>

@{ template "footer.html" .}@