@{ set . "title" "Home" }@
@{ set . "languages" .languages }@
@{ set . "unit" "Sorted by pushes (on 1.000.000)" }@
@{ template "header.html" .}@

<div class="header-rpg header-rpg-home"></div>
<div class="ui column page grid">
	<div class="two wide column"></div>
	<div class="twelve wide column rp-container first-container">
		<div class="ui pointing fluid three item menu inverted nav-menu">
			<a class="active item nav index" data-tab="daily">Daily ranking <i class=" circular icon star"></i></a>
			<a class="item nav index" data-tab="global">Global ranking <i class="circular icon signal"></i></a>
			<a class="item nav index" data-tab="about">About <i class="circular icon info letter"></i></a>
		</div>

		<!--             DAILY RANKING             -->
		<div class="ui three column grid stackable columns-container tab" data-tab="daily">
			<div class="column">
				<div class="rp-item homepage text-center">
					<h2 class="ui header"><i class="icon circular dashboard"></i></h2>
					<a href="" class="ui label profile purple" id="daily-top-number-link"><h5 class="ui header" id="daily-top-number-name"></h5></a>
					<a class="ui label profile red"><h5 class="ui header" id="daily-top-number-value"></h5></a>

					<a class="ui label profile green show-ranking" data-type="daily-number"><h5 class="ui header"><i class="icon circular add sign"></i></h5></a>
				</div>
			</div>
			<div class="column">
				<div class="rp-item homepage text-center">
					<h2 class="ui header"><i class="icon circular legal"></i></h2>
					<a href="" class="ui label profile purple" id="daily-top-experience-link"><h5 class="ui header" id="daily-top-experience-name"></h5></a>
					<a class="ui label profile red"><h5 class="ui header" id="daily-top-experience-value"></h5></a>

					<a class="ui label profile green show-ranking" data-type="daily-experience"><h5 class="ui header"><i class="icon circular add sign"></i></h5></a>
				</div>
			</div>
			<div class="column">
				<div class="rp-item homepage text-center">
					<h2 class="ui header"><i class="icon circular terminal"></i></h2>
					<a class="ui label profile purple"><h5 class="ui header" id="daily-top-language-name"></h5></a>
					<a class="ui label profile red"><h5 class="ui header" id="daily-top-language-value"></h5></a>

					<a class="ui label profile green show-ranking" data-type="daily-language"><h5 class="ui header"><i class="icon circular add sign"></i></h5></a>
				</div>
			</div>

		</div>

		<!--              GLOBAL RANKING                -->
		<div class="ui three column grid columns-container tab" data-tab="global">
			<div class="column">
				<div class="rp-item homepage text-center">
					<h2 class="ui header"><i class="icon circular dashboard"></i></h2>
					<a href="" class="ui label profile purple" id="global-top-number-link"><h5 class="ui header" id="global-top-number-name"></h5></a>
					<a class="ui label profile red"><h5 class="ui header" id="global-top-number-value"></h5></a>

					<a class="ui label profile green show-ranking" data-type="global-number"><h5 class="ui header"><i class="icon circular add sign"></i></h5></a>
				</div>
			</div>
			<div class="column">
				<div class="rp-item homepage text-center">
					<h2 class="ui header"><i class="icon circular legal"></i></h2>
					<a href="" class="ui label profile purple" id="global-top-experience-link"><h5 class="ui header" id="global-top-experience-name"></h5></a>
					<a class="ui label profile red"><h5 class="ui header" id="global-top-experience-value"></h5></a>

					<a class="ui label profile green show-ranking" data-type="global-experience"><h5 class="ui header"><i class="icon circular add sign"></i></h5></a>
				</div>
			</div>
			<div class="column">
				<div class="rp-item homepage text-center">
					<h2 class="ui header"><i class="icon circular terminal"></i></h2>
					<a class="ui label profile purple"><h5 class="ui header" id="global-top-language-name"></h5></a>
					<a class="ui label profile red"><h5 class="ui header" id="global-top-language-value"></h5></a>

					<a class="ui label profile green show-ranking" data-type="global-language"><h5 class="ui header"><i class="icon circular add sign"></i></h5></a>
				</div>
			</div>
		</div>

		<!--              ABOUT           -->
		<div class="ui three column grid columns-container tab" data-tab="about">
			<div class="column">About</div>
		</div>

		<!--              RANKINGS            -->
		<div class="handle-ranking sixteen ui wide column grid hide" id="ranking-daily-number">
			<div class="ui three wide column"></div>
			<div class="ui ten wide column divided selection list ranking-list" id="daily-number"></div>
		</div>

		<div class="handle-ranking sixteen ui wide column grid hide" id="ranking-daily-experience">
			<div class="ui three wide column"></div>
			<div class="ui ten wide column divided selection list ranking-list" id="daily-experience"></div>
		</div>

		<div class="handle-ranking sixteen ui wide column grid hide" id="ranking-daily-language" >
			<div class="ui three wide column"></div>
			<div class="ui ten wide column divided selection list ranking-list" id="daily-language"></div>
		</div>

		<div class="handle-ranking sixteen ui wide column grid hide" id="ranking-global-number">
			<div class="ui three wide column"></div>
			<div class="ui ten wide column divided selection list ranking-list" id="global-number"></div>
		</div>

		<div class="handle-ranking sixteen ui wide column grid hide" id="ranking-global-experience">
			<div class="ui three wide column"></div>
			<div class="ui ten wide column divided selection list ranking-list" id="global-experience"></div>
		</div>

		<div class="handle-ranking sixteen ui wide column grid hide" id="ranking-global-language" >
			<div class="ui three wide column"></div>
			<div class="ui ten wide column divided selection list ranking-list" id="global-language"></div>
		</div>

	</div>
</div>

<script id="overview-ranking" type="text/x-handlebars-template">
	{{#each this}}
		<a class="item" href="/users/{{ key }}">
			<div class="ui teal horizontal label">{{ value }}</div> {{ key }}
		</a>
	{{/each}}
</script>

@{ append . "js" "handlebars-v1.3.0.min" }@
@{ append . "js" "index" }@
@{ template "footer.html" .}@
