{{ set . "title" "Home" }}
{{ template "header.html" .}}

<section class="container">
	<article class="row">
		<div class="col-sm-10 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 highlight">
			<article class="container-fluid">
				<ul class="nav nav-pills" role="tablist">
					<li class="active tab-ranking col-md-offset-1 col-sm-offset-1col-xs-offset-1 col-md-3 col-xs-3 col-sm-3"><a href="#daily" role="tab" data-toggle="tab">Daily Ranking&nbsp;&nbsp;<span class="glyphicon glyphicon-star-empty"></a></a></li>
					<li class="tab-ranking col-md-3 col-xs-3 col-sm-3"><a href="#global" role="tab" data-toggle="tab">Global Ranking&nbsp;&nbsp;<span class="glyphicon glyphicon-stats"></a></li>
					<li class="tab-ranking col-md-3 col-xs-3 col-sm-3"><a href="#about" role="tab" data-toggle="tab">About&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign"></a></li>
				</ul>
			</article>

			<div class="tab-content">
				<div class="tab-pane active container-fluid" id="daily">
					<article class="row">
						<div class="col-md-6 col-xs-6 col-sm-6 text-center">ss</div>
						<div class="col-md-6 col-xs-6 col-sm-6 text-center">dd</div>
						<div class="col-md-6 col-xs-6 col-sm-6 text-center">aa</div>
						<div class="col-md-6 col-xs-6 col-sm-6 text-center">gg</div>
					</article>
				</div>
				<div class="tab-pane" id="global">
				yyyy
				</div>
				<div class="tab-pane" id="about">
				xxxx
				</div>
			</div>
		</div>
	</article>
</section>

{{ template "footer.html" .}}