@{ set . "title" .user.Username }@
@{ set . "unit" "Sorted by level" }@
@{ set . "languages" .languages }@
@{ template "header.html" .}@

<div class="header-rpg header-rpg-user"></div>
<div class="ui column page grid">
	<div class="one wide column"></div>
	<div class="fourteen wide column">
		@{ if .user.Avatar }@
		<img class="ui circular image avatar-preview" src="@{ .user.Avatar }@"/>
		@{ else }@
		<img class="ui circular image avatar-preview" src="../public/img/default-avatar.png"/>
		@{ end }@

		<div class="ui rp-container first-container">
			<div class="profile-container">
				<div class="profile-labels">
					<div class="ui purple label profile"><i class="circular icon github"></i><a target="_blank" href="http://github.com/@{.user.Username}@">@{ .user.Username }@</a></div>
					<div class="ui purple label profile"><i class="circular icon tint"></i> Level <strong>@{ .user.Level }@</strong></div>
					<div class="ui blue progress profile">
						<div class="bar" style="width: @{ .user.Percent }@%;"></div>
					</div>
				</div>
			</div>

			<div class="two column stackable ui grid">
				<div class="column">
					<div class="profile-header">
						<h4>
							<i class="circular icon code"></i> Programming languages
							<hr>
						</h4>

						@{ range .user.Languages }@
						<div class="ui rp-item">
							<div class="floating ui red label rp-floating-item">@{ .Name }@</div>
							<a class="ui purple label rp-item-meta"><i class="circular icon tint"></i>Level @{ .Level }@</a>
							<div class="ui blue progress profile-item">
								<div class="bar" style="width: @{ .Percent }@%;"></div>
							</div>

							<div class="ui divided selection list">
								<a class="item">
									<div class="ui @{ colorLanguage .Events.Pushes 10 50 }@ horizontal label">@{ .Events.Pushes }@</div> Pushes
								</a>
								<a class="item">
									<div class="ui @{ colorLanguage .Events.Pullrequests 1 5 }@ horizontal label">@{ .Events.Pullrequests }@</div> Pull requests
								</a>
								<a class="item">
									<div class="ui @{ colorLanguage .Events.Issues 1 10 }@ horizontal label">@{ .Events.Issues }@</div> Issues opened
								</a>
								<a class="item">
									<div class="ui @{ colorLanguage .Events.Comments 10 30 }@ horizontal label">@{ .Events.Comments }@</div> Comments
								</a>
								<a class="item">
									<div class="ui @{ colorLanguage .Events.Forks 1 5 }@ horizontal label">@{ .Events.Forks }@</div> Forks
								</a>
								<a class="item">
									<div class="ui @{ colorLanguage .Events.Stars 3 10 }@ horizontal label">@{ .Events.Stars }@</div> Stars
								</a>
							</div>
						</div>
						@{ end }@

					</div>	
				</div>
				<div class="column">
					<div class="profile-header">
						<h4>
							<i class="circular icon list layout"></i> Active repositories
							<hr>
						</h4>

						@{ if .user.Repositories }@
							@{ range .user.Repositories }@
							<div class="ui rp-item">
								<div class="ui purple label profile"><i class="icon circular info"></i><a href="@{ .Url }@" target="_blank">@{ .Name }@ </a>@{ if .IsFork }@ (fork) @{ end }@</div>
								<div class="floating ui red label rp-floating-item">@{ .Language }@</div>
								<p>@{ .Description }@</p>

								<div class="ui divided selection list">
									<a class="item">
										<div class="ui @{ invertColorLanguage .Issues 1 10 }@ horizontal label">@{ .Issues }@</div> Issues opened
									</a>
									<a class="item">
										<div class="ui @{ colorLanguage .Forks 5 20 }@ horizontal label">@{ .Forks }@</div> Forks
									</a>
									<a class="item">
										<div class="ui @{ colorLanguage .Stars 5 20 }@ horizontal label">@{ .Stars }@</div> Stars
									</a>
									<a class="item">
										<div class="ui @{ if .Wiki }@ green @{ else }@ red @{ end }@ horizontal label">@{ if .Wiki }@ Yes @{ else }@ No @{ end }@</div> Wiki
									</a>
								</div>

							</div>	
							@{ end }@
						@{ else }@
						No active repository found
						@{ end }@
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

@{ append . "js" "user" }@
@{ template "footer.html" .}@

