    @{ if eq .RunMode "dev" }@
        @{ template "debug.html" . }@
    @{ end }@
  
<!--         <iframe src="http://ghbtns.com/github-btn.html?user=peekmo&repo=RPGithub&type=fork&size=medium&count=true"
        allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe> -->
	@{ append . "js" "jquery-1.9.1.min" }@
	@{ append . "js" "jquery.address" }@
	@{ append . "js" "semantic.min" }@
	@{ append . "js" "core" }@

	@{ range .js }@
	<script src="/public/js/@{ . }@.js" type="text/javascript" charset="utf-8"></script>
	@{ end }@

  	</body>
</html>
