<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/public/css/core.css">
        <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    </head>
    <body>

    <nav class="navbar navbar-default navbar-static-top navbar-inverse navbar-core" role="navigation">
        <div class="container">
            <form class="navbar-form text-center" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-success btn-size-header">User&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span></button>
                <button type="submit" class="btn btn-warning btn-size-header">Repository&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-file"></span></button>
            </form>
        </div>
    </nav>