<!DOCTYPE html>

<html>
<head>
    <title>@{ .title }@</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/core.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
</head>
<body>
	
@{ append . "js" "jquery-1.9.1.min" }@
@{ append . "js" "jquery.address" }@
@{ append . "js" "semantic.min" }@
@{ append . "js" "core" }@


<div class="ui label purple show-menu" id="show-menu"><h3 class="ui header"><i class="circular icon settings"></i></h3></div>

<div class="ui styled sidebar">
	<h4 class="ui header menu-header"><i class="icon circular remove" id="close"></i><i class="icon circular home" id="home"></i></h4>
	<h3 class="ui header"><i class="icon circular user"></i>Search</h3>
	<div class="ui form">
		<div class="ui icon input">
			<i class="icon search btn" id="search-btn"></i>
			<input type="text" name="search" placeholder="Search user.." id="search-field"/>
		</div>
	</div>

	@{ if .languages }@
	<h3 class="ui header"><i class="icon circular filter inline"></i>Filter <a class="ui red label reset" onclick="reset()" id="reset">Reset</a></h3>
	@{ if $.showValueLanguage }@
		<div class="text-center">@{ .unit }@</div>
	@{ end }@
	<div class="ui fluid vertical menu">
		@{ range .languages }@
		<a class="item filter-language" onclick="filter(@{ .Key }@)">
			@{ if $.showValueLanguage }@
				<div class="ui label">@{ .Value }@</div>
			@{ end }@
			@{ .Key }@
		</a>
		@{ end }@
	</div>		
	@{ end }@
</div>